<!DOCTYPE html>
<html>
<head>
	<title>MAP PROJECT</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <script src="/assets/config.js"></script>
  <script src="/assets/showw.js"></script>
</head>
<body id="full">
<div id="image"></div>
<br>
<div id="mapInit">
  <form method="post" id="fo">
    <strong>Name: </strong> <input type="text" name="name" placeholder="Name" required="true">  
    <strong>Address: </strong> <input type="text" name="address" placeholder="Address" required="true">
    <strong>Latitude: </strong> <input type="text" name="lat" placeholder="Latitude" required="true">
    <strong>Longitude: </strong> <input type="text" name="lng" placeholder="Longitude" required="true">  
    <button class="b1" type="submit"> <strong>Add Data</strong> </button>
  </form>  
  <br>
  <div id="mu">
      <button id="dynamic" type="button" class="btn btn-primary" onclick="allprev()">Click to enable multiple selections</button>
      <a href="#reach" class="btn btn-primary" onclick="alll()">View All</a>
  </div>
  <br>
  <br>
  <table id="table1">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>View</th>
    </tr>
    <% for(var i=0; i<data.length; i++) { %>
      <tr>
        <td id="<%= data[i].address %>"><input type="checkbox" class="dispcheck" onclick="addd(this.parentNode.id)"><%= data[i].name %></td>
        <td><%= data[i].address %></td>
        <td><%= data[i].lat %></td>
        <td><%= data[i].lng %></td>
        <td id= "<%= data[i].address %>"> <button onclick="codeAddress1(this.parentNode.id)" type="button" class="btn btn-info"> View </button></td>
      </tr>
    <% } %>
  </table>
</div>
<br>
<p id="disp"></p>
<br id="br1">
<br id="br1">
<button onclick="resett()" type="button" class="btn btn-primary last"><strong>Reset</strong></button>
<br>
<br>
<div id="map"></div>
<br>
<a href="#full" class="btn btn-primary last"><strong>Back To Top</strong></a>
<br>
</body>
</html>