<!DOCTYPE html>
<html>
<head>
	<title>MAP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <script src="/assets/showw.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>
<body>
<div id="mapInit">
  <form method="post" id="fo">
    <strong>Name: </strong> <input type="text" name="name" placeholder="Name" required="true">  
    <strong>Address: </strong> <input type="text" name="address" placeholder="Address" required="true">
    <strong>Latitude: </strong> <input type="text" name="lat" placeholder="Latitude" required="true">
    <strong>Longitude: </strong> <input type="text" name="lng" placeholder="Longitude" required="true">  
    <button class="b1" type="submit"> <strong>Add Data</strong> </button>
    &nbsp;
    &nbsp;
    <input type="checkbox" id="group" onclick="check()">&nbsp; <strong>Group Queries</strong>
  </form>  
  <br>
  <br>
  <table id="table1">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>View</th>
    </tr>
    <% for(var i=0; i<data.length; i++) { %>
      <tr>
        <td><%= data[i].name %></td>
        <td><%= data[i].address %></td>
        <td><%= data[i].lat %></td>
        <td><%= data[i].lng %></td>
        <td id= "<%= data[i].address %>"> <button onclick="addd(this.parentNode.id)" type="button" class="btn btn-info"> View </button></td>
      </tr>
    <% } %>
  </table>
</div>
<br>
<br>
<p id="disp"></p>
<br id="br1">
<br id="br1">
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap"
async defer></script>
</body>
</html>